/*
Botones

Your standard button suitable for clicking.

:hover   - Highlights when hovering.
.shiny   - Do not press this big, shiny, red button.

Markup: ../../components/buttons.html

Styleguide 1.1 Botones
*/
.button {
  background-color: lime;
  
  &.shiny {
      opacity: .7;

  }

}
